html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: #fff4ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
    *{
        font-size: 15px;
    }
  }

#header
{
    
    position: fixed;
    background-color: #ffbd59;
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#header-img
{
    display: flex;
    margin: 30;
    margin-right: 0;
    max-width: 100%;
    width: 10%;
    z-index: 2;
    padding:20px;
}

@media (max-width: 600px) {
    #header-img {
        width: 20%;
    }
  }

#nav-bar
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -150px;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    height: auto;
    justify-items: center;
    align-content: center;
}

ul li
{
    width: 100%;
    height: 100%;
    list-style:none;
    margin-bottom: 10px;
}

a
{
    color: #805454;
    font-size: 23px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 20px;
    
}

@media (max-width: 600px) {
    a{
        font-size: 16px;
    }
  }

a:hover
{
    color: #fff4ee;
}

nav ul 
{
    display: flex;
}
  
nav li 
{
    flex: auto ;
}

main
{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #4e3838;
    font-weight: 550;
    margin-top: 300px;
}



#productos
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background: #a72e42;
    color: #fff4ee;
    padding: 20px;
    margin: 30px;
    border-radius: 4rem;
}

iframe
{
    margin-bottom: 50px;
}

@media(max-width: 600px)
{
    iframe
    {
        width: 100%;
        height: auto;
    }
}

input
{
    font-size: 20px;
}



#submit
{
    background:#ffbd59 ;
    color: #4e3838;
    padding: 10px;
    border-radius: 2rem;
}








      
